.gallery {
  &__title {
    font-size: 20px;
    font-family: 'Open Sans';
    letter-spacing: 5px;
    color: #7baee2;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px;

    .gallery__img {
      display: flex;
      width: 30%;
      margin: 6px 0;
    }
  }
}

.centerpoint {
  top: 15%;
  left: 50%;
  position: fixed;
}

dialog {
  position: fixed;

  border: none;
  pointer-events: none;

  .dialog__img {
    max-height: 550px;
  }

  &::before {
    content: url('../../static/assets/fonts/x.png');
    position: relative;
    bottom: 40px;
    left: 100%;
    pointer-events: all;
    cursor: pointer;
  }

  &::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 768px) {
  .gallery {
    &__title {
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
  
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 6px;

      .gallery__img {
        width: 100%;
        margin: 6px 0;
        justify-content: center;
      }
    }

    dialog {
      min-width: 300px !important;
      max-width: 98vw;
    }
  }
}
