.full-width-img {
  max-height: 340px;
  min-width: 100vw;
  position: relative;
}

.page-title-wrapper {
  margin-bottom: 100px;

  .subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: #7baee2;
    letter-spacing: 5px;
    margin-bottom: 5px;
  }

  .title {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 35px;
    margin-top: 0;

    strong {
      display: block;
    }
  }
}

@media (min-width: 1440px) {
  .full-width-img {
    left: calc(1310px - 100vw);
  }
}

@media (min-width: 2560px) {
  .full-width-img {
    left: calc(1870px - 100vw);
  }
}

@media (max-width: 600px) {
  /* fonts */
  .page-title-wrapper {
    .subtitle {
      font-size: 15px;
    }
  
    .title {
      font-size: 25px;
    }
  }
}

@media (max-width: 768px) {
  // everything but fonts
  .page-title-wrapper {
    margin-bottom: 60px;
  }

  .full-width-img {
    right: 20px;
  }
}
