.article {
  display: flex;

  &__wrapper {
    margin-bottom: 100px;
  }

  &.sx {
    text-align: left;
  }

  &.dx {
    text-align: right;
  }

  &__logo {
    &-inside {
      display: none !important;
    }

    display: inline-block !important;
    width: 40%;

    &.dx {
      margin-left: 60px;
    }
    &.sx {
      margin-right: 60px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;

    &-subtitle {
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 5px;
      color: #7baee2;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    &-title {
      font-size: 35px;
      margin-top: 0;
      margin-bottom: 0;
    }

    &-text {
      font-family: 'Open Sans';
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 300;

      > p {
        margin: 0;
      }
    }

    &-action {
      font-family: 'Open Sans';
      font-size: 18px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: white;

      background-color: #ff48b9;
      border: none;
      padding: 20px 40px;

      text-decoration: none;
      max-width: 250px;
      justify-self: flex-end;

      &.sx {
        align-self: flex-start;
      }
    
      &.dx {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 600px) {
  .article {
    &__wrapper {
      margin-bottom: 40px;
    }

    &__body {
      &-subtitle {
        font-size: 13px;
      }

      &-title {
        font-size: 25px;
      }

      &-text {
        font-size: 18px;
      }

      &-action {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .article {
    flex-direction: column;
    
    &.sx {
      text-align: left;
    }
    
    &.dx {
      flex-direction: column-reverse;
      text-align: left;
    }

    &__logo {
      display: none !important;

      &-inside {
        display: inline-block !important;
        width: 100% !important;
        max-height: 150px;
        margin: 15px 0;
  
        &.dx {
          margin-left: 0;
        }
        &.sx {
          margin-right: 0;
        }
      }
    }

    &__body {
      width: 100%;

      &-text {
        height: auto;
      }
    }
  }
}
